<main class="container flex-center column">
  <h1>Welcome to application!</h1>
  <button
    *ngIf="!blockchainService.accountsExists"
    mat-button
    (click)="connect()"
  >Connect account</button>

  <div class="flex-center column" *ngIf="blockchainData">
    <p>Balance: <span>{{ blockchainData.balance }}</span></p>
    <p>Address: <span>{{ blockchainData.address }}</span></p>
    <p>Chan ID: <span>{{ blockchainData.id }}</span></p>
  </div>
</main>
